{% extends "modal.html" %}
{% block title %}
  Delete? <span class="italic font-normal ml-2">'{{ task.title }}'</span>
{% endblock title %}
{% block description %}
  You are about to irreversably delete a task. Are you sure?
{% endblock description %}
{% block actions %}
  <button type="button"
          @click="$dispatch('close-modal')"
          class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
    Cancel
  </button>
  <button type="button"
          hx-delete="{% url "tasks:delete" task_id=task.id %}"
          class="inline-flex w-full justify-center rounded-md bg-red-400 px-3 py-2 text-sm font-semibold text-gray-800 shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
    Deactivate
  </button>
{% endblock actions %}
