{% extends base %}
{% load partials %}
{% block main %}
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Tasks</h1>
        <p class="mt-2 text-sm text-gray-700">List of tasks</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button type="button"
                hx-get="{% url "tasks:add" %}"
                hx-target="#slideover"
                class="block rounded-md bg-amber-400 px-3 py-2 text-center text-sm font-semibold text-gray-800 shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600">
          Add task
        </button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Title</th>
                <th scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Assignee</th>
                <th scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tags</th>
                <th scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200" id="task-list">
              {% for task in tasks %}
                {% partialdef task inline=True %}
                <tr id="tasklist-item-{{ task.id }}" class="task">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ task.title }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ task.assignee | default_if_none:"" }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ task.tags.all | join:", " }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ task.created_at }}</td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a hx-get="{% url "tasks:edit" task_id=task.id %}"
                       hx-target="#slideover"
                       class="text-amber-400 hover:text-amber-600 cursor-pointer">Edit<span class="sr-only">, Lindsay Walton</span></a>
                  </td>
                </tr>
              {% endpartialdef %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
