{% extends "base.html" %}
{% block base %}
  {% if user.is_authenticated %}
    <div>
      <div id="sidebar"
           hx-get="{% url "sidebar" %}?url={{ request.path }}"
           hx-trigger="load"
           hx-target="#sidebar"></div>
      <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8" id="main">
          {% block main %}
          {% endblock main %}
        </div>
      </main>
      <div id="slideover"></div>
      <div id="modal"></div>
    </div>
  {% endif %}
{% endblock base %}
