<div class="relative z-10"
     id="modal-inside"
     aria-labelledby="modal-title"
     role="dialog"
     aria-modal="true"
     @close-modal.window="document.getElementById('modal-inside').remove()">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-1/2 sm:max-w-lg sm:p-6">
        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
          <button type="button"
                  @click="$dispatch('close-modal')"
                  class="cursor-pointer rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">Close</span>
            {% include "icons/x.svg" %}
          </button>
        </div>
        {% block content %}
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900"
                  id="modal-title">
                {% block title %}
                {% endblock title %}
              </h3>
              <div class="mt-4">
                <p class="text-sm text-gray-500">
                  {% block description %}
                  {% endblock description %}
                </p>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 flex flex justify-end">
            {% block actions %}
            {% endblock actions %}
          </div>
        {% endblock content %}
      </div>
    </div>
  </div>
</div>
