<div class="relative z-10"
     aria-labelledby="slide-over-title"
     role="dialog"
     aria-modal="true"
     id="slideoverpanel">
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0"></div>
  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="fixed inset-y-0 right-0 flex max-w-full pl-10">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="pointer-events-auto w-screen max-w-md">
          <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
            <div class="px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-base font-semibold leading-6 text-gray-900"
                    id="slide-over-title">
                  {% block title %}
                  {% endblock title %}
                </h2>
                <div class="ml-3 flex h-7 items-center cursor-pointer">
                  <button type="button"
                          @click="document.getElementById('slideoverpanel').remove()"
                          @close-slideover.window="document.getElementById('slideoverpanel').remove()"
                          class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 cursor-pointer">
                    <span class="absolute -inset-2.5"></span>
                    <span class="sr-only">Close panel</span>
                    {% include "icons/x.svg" %}
                  </button>
                </div>
              </div>
            </div>
            <div class="relative mt-6 flex-1 px-4 sm:px-6">
              {% block content %}
              {% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
