<!-- Header -->
<header class="bg-gray-900">
  <nav
    class="mx-auto flex max-w-7xl justify-center p-6 lg:px-8 lg:gap-x-12"
    aria-label="Global"
  >
    <button
      hx-get="{% url 'home' %}"
      hx-trigger="click"
      hx-target="#body"
      class="text-sm font-semibold leading-6 text-white"
    >
      Home
    </button>
    <button
      hx-get="{% url 'blogs' %}"
      hx-trigger="click"
      hx-target="#body"
      class="text-sm font-semibold leading-6 text-white"
    >
      Blog
    </button>
    <button
      hx-get="{% url 'about' %}"
      hx-trigger="click"
      hx-target="#body"
      class="text-sm font-semibold leading-6 text-white"
    >
      About
    </button>
  </nav>
</header>
