{% load static %}
{% load partials %}
<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
    <div class="flex h-16 shrink-0 items-center">
      <img class="h-8 w-auto" src="{% static "logo.png" %}" alt="Quteo">
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            {% for key, nav in navigations.items %}
              {% partialdef navitem inline=True %}
              <li id="nav-item-{{ key }}">
                <a id="nav-item-link-{{ key }}"
                   class="{% if nav.active %}text-white bg-gray-800 {% else %} text-gray-400 {% endif %} hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 cursor-pointer font-semibold">
                  {% include nav.icon %}
                  {{ nav.name }}
                  {% if nav.active %}
                    <div hx-get="{{ nav.sidebar_item }}?deactivate=true"
                         hx-target="#nav-item-{{ key }}"
                         hx-swap="outerHTML"
                         hx-trigger="nav-link-deactivate from:body"></div>
                  {% endif %}
                  <div hx-get="{{ nav.sidebar_item }}"
                       hx-target="#nav-item-{{ key }}"
                       hx-swap="outerHTML"
                       hx-trigger="click from:#nav-item-link-{{ key }}"></div>
                  <div hx-get="{{ nav.url }}"
                       hx-push-url="true"
                       hx-target="#main"
                       hx-swap="innerHTML"
                       hx-trigger="click from:#nav-item-link-{{ key }}"></div>
                </a>
                {% if nav.children and nav.active %}
                  <ul class="ml-12">
                    {% for child in nav.children %}
                      <li>
                        <a hx-get="{{ child.url }}"
                           hx-target="#main"
                           hx-swap="innerHTML"
                           hx-push-url="true"
                           class="cursor-pointer text-gray-500 hover:text-gray-300 hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          {{ child.name }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endpartialdef %}
          {% endfor %}
        </ul>
      </li>
      <li>
        <div class="text-xs font-semibold leading-6 text-gray-400">Your teams</div>
        <ul role="list" class="-mx-2 mt-2 space-y-1">
          <li>
            <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
            <a href="#"
               class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
              <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">H</span>
              <span class="truncate">Heroicons</span>
            </a>
          </li>
          <li>
            <a href="#"
               class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
              <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">T</span>
              <span class="truncate">Tailwind Labs</span>
            </a>
          </li>
          <li>
            <a href="#"
               class="text-gray-400 hover:text-white hover:bg-gray-800 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
              <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">W</span>
              <span class="truncate">Workcation</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="-mx-6 mt-auto flex">
        <button hx-post="{% url "logout" %}"
                hx-target="#body"
                hx-push-url="true"
                class="grow flex items-start gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
          </svg>
          Logout
        </button>
      </li>
    </ul>
  </nav>
</div>
</div>
